<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="public/img/logo3.png" alt="" />
      <h1><span style="color: #4a0e03">Red</span><span style="color: #ee2110">Panda</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto text-center" href="/"><i class="bi-house-fill" style="font-size: 25px"></i> <span class="small d-block">Home</span></a>
        </li>
        <li>
          <a class="nav-link scrollto text-center" href="/har"><i class="bi-tools" style="font-size: 25px"></i> <span class="small d-block">Har</span></a>
        </li>
        <li>
          <a class="nav-link scrollto text-center" href="/feeder"><i class="bi-device-ssd-fill" style="font-size: 25px"></i> <span class="small d-block">Feeder</span></a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav>
    <!-- .navbar -->

    <a class="btn-getstarted scrollto" href="index.html#about">Get Started</a>
  </div>
</header>
<!-- End Header -->
