<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <main>
      <div class="container">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
          <h1>404</h1>
          <h2>Halaman yang Anda cari tidak ditemukan</h2>
          <a class="btn" href="/">Kembali ke Halaman Utama</a>
          <!-- <img src="img/logopln2.png" class="img-fluid py-5" alt="Page Not Found" /> -->
        </section>
      </div>
    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- AKHIR INPUT  -->
  </body>
</html>
